@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1.xar-header-heading {
  @apply text-gray text-sm mb-0 font-bold;
}

/* button[style="position: fixed; width: 117px; height: 117px; border: none; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.25) 4px 5px 4px; margin: 0px auto; cursor: pointer; display: none; flex-direction: column; justify-content: center; align-items: center; z-index: 2147483647; background-color: rgb(237, 237, 237); right: 30px; bottom: 30px;"] {
  @apply !hidden;
} */

body > button[style] {
  @apply !w-24 !h-24 border-none;
}
body > button[style] > img {
  @apply !w-fit
}
body > button[style] > button[style] {
  @apply -top-20;
}

@layer base {
  html {
    @apply font-comfortaa;
  }

  h1 {
    @apply text-4xl font-bold text-darkPrimary mb-10;
  }

  h2 {
    @apply text-3xl text-primary font-bold mb-8;
  }

  h3 {
    @apply text-2xl text-primary font-semibold mb-6;
  }

  input[type="textarea"] {
    @apply h-96 items-start flex;
  }

  input::placeholder {
    @apply text-gray font-light text-base;
  }

  input[type="file"] {
    @apply w-full px-0 py-0;
  }

  input::file-selector-button {
    @apply w-full outline-none border-none bg-gray/10 h-28;
  }

  form {
    @apply w-full flex justify-center flex-col items-center;
  }

  input, textarea {
    @apply block w-full bg-transparent text-darkGray border border-darkGray font-bold py-2.5 px-5 mb-2 focus:bg-white focus:border-none outline-1 focus:outline-primary;
  }
  input {
    @apply rounded-xl;
  }
  textarea {
    @apply rounded-none;
  }
}

@layer components {
  .react-multiple-carousel__arrow {
    @apply hidden;
  }

  .carousel-dot-list button {
    @apply border-darkGray border-[1.5px];
  }

  .carousel-contaier {
    @apply !overflow-visible;
  }

  .carousel-dot-list li.react-multi-carousel-dot--active button {
    @apply !bg-gray/20;
  }

  #req-count-badge {
    @apply hidden;
  }

  div#google_translate_element>div>span {
    @apply !hidden;
  }

  div.skiptranslate.goog-te-gadget {
    font-size: 0;
  }

  select.goog-te-combo{
    @apply !hidden;
  }
}
