@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-comfortaa;
  }

  h1 {
    @apply text-4xl font-bold text-darkPrimary mb-10;
  }

  h2 {
    @apply text-3xl text-primary font-bold mb-8;
  }

  h3 {
    @apply text-2xl text-primary font-semibold mb-6;
  }

  input[type="textarea"] {
    @apply h-96 items-start flex;
  }

  input::placeholder {
    @apply text-gray font-light text-base;
  }

  input[type="file"] {
    @apply w-full px-0 py-0;
  }

  input::file-selector-button {
    @apply w-full outline-none border-none bg-gray/10 h-28;
  }

  form {
    @apply w-full flex justify-center flex-col items-center;
  }

  input, textarea {
    @apply block w-full bg-transparent text-darkGray border border-darkGray font-bold py-2.5 px-5 mb-2 focus:bg-white focus:border-none outline-1 focus:outline-primary;
  }
  input {
    @apply rounded-xl;
  }
  textarea {
    @apply rounded-none;
  }
}

@layer components {
  .react-multiple-carousel__arrow {
    @apply hidden;
  }

  .carousel-dot-list button {
    @apply border-darkGray border-[1.5px];
  }

  .carousel-dot-list li.react-multi-carousel-dot--active button {
    @apply !bg-gray/20;
  }
}